<div id="canvas-holder">
  <canvas id="chart-area" width="500" height="500"/>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>EchoTrack</h1>
      <h3>You make the waves, we'll help you understand them.</h3>
    </div>
  </div>
  <div class="row">
    <% for sound in @longestTitleSounds do %>
      <div class="col-md-6">
        <%= link_to sound.title, sound.permalink_url %>
        <b>--- Plays: <%= sound.playback_count %> | Genre: <%= sound.genre %></b>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>

    var doughnutData = [
        {
          value: 1,
          label: "One"
        },
        {
          value: 2,
          label: "Two"
        },
        {
          value: 3,
          label: "Three"
        },
        {
          value: 4,
          label: "Four"
        },
        {
          value: 5,
          label: "Five"
        }

      ];

      window.onload = function(){
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
      };

<% end %>